<div class="container">
  <div class="fixed-title">
    <h3>Obrigada,  <%= current_user.name.upcase %>. </h3>
    <h3 style="margin-bottom: 16px;">→ itens enviados:</h3>
    <%= link_to "editar", edit_user_choice_path(@user_choice), class: "botao2", data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>"} %>

    <br>
    <p style="color: white;">—</p>
  </div>

  <div style="margin-top: 145px">
    <% @votes.each do |vote| %>
    <%= cl_image_tag vote.item.photo.key, width: 112, class: "img-shoe-edit" %>
    <% end %>
  </div>
</div>

