// Import Google fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
//$body-font: "Work Sans", "Helvetica", "sans-serif";
//$headers-font: "Nunito", "Helvetica", "sans-serif";


// To use a font file (.woff) uncomment following lines

// Define fonts for body and headers



// $my-font: "Font Name";

// To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "Effra Regular";
   src: font-url('../../fonts/effra_std_rg-webfont.woff');
   src: font-url('effra_std_rg-webfont.woff') format('woff')
 }

  @font-face {
   font-family: "Effra Bold";
   src: font-url('../../fonts/effra_std_bd-webfont.woff');
   src: font-url('effra_std_bd-webfont.woff') format('woff')
 }


$body-font: "Effra Regular";
$headers-font: "Effra Bold";
