<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-4" style="margin-top: 120px;">
      <h1><b>obrigada, <br><%= current_user.name %>. </b></h1>
      <h2>sua seleção foi enviada com sucesso!</h2>

    </div>
  </div>


</div>
