.button {
  background-color: $black;
  color: $white;
  padding: 8px 18px 8px 18px;
  font-family: 'Effra';
  border-radius: 6px;
  width: 100%;
  border: 0;
  margin-top: 12px;

  &:hover{
    background-color: $dark-gray;
    color: $white;
    text-decoration: none;
  }
}
