.main-form {
  position: relative;
}

.col-form-label {
  color: white;
}

.form-button {
  margin-top: 44px;
  position: absolute;
  width: 20%;
  right: 10px;
  bottom: -72px;
}

@media (max-width: 576px) {
  .form-button {
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.user_choice .check_boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.user_choice .col-form-label {
    width: 100%;
}

.user_choice .form-check input[type="checkbox"] {
  display: none;
}

.user_choice .form-check label {
  display: block;
}

.user_choice .form-check input[type="checkbox"] + label {
  margin-bottom: 2rem;
  width: 380px;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
 // position: relative; // sem isso aqui o coração vai ficar deslocado
}

@media (max-width: 576px) {
  .user_choice .form-check input[type="checkbox"] + label {
    width: 300px;
  }
}

.user_choice .form-check input[type="checkbox"] + label img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.user_choice .form-check input[type="checkbox"]:checked + label {
  background: black;
}
.user_choice .form-check input[type="checkbox"]:checked + label img {
  transform: scale(1.1);
  opacity: 0.3;
}

.user_choice .form-check input[type="checkbox"]:checked + label:before {
  height: 6rem;
  width: 6rem;
  z-index: 2;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='white' stroke='rgb(255,255,255)' stroke-width='.5' stroke-linecap='butt' stroke-linejoin='arcs'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'%3E%3C/path%3E%3C/svg%3E");
  //background: url('https://res.cloudinary.com/dbmlsid8q/image/upload/v1618173702/heart_1_ozhikd.svg') no-repeat center center;
  background-size: 100%;
}
