

.mini-fotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
}

.mini-fotos-edit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;

}

.second-column {
    margin-top: 98px;
  }

@media(max-width: 1048px) {
  .mini-fotos-edit  {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .second-column {
    margin-top: 28px;
    padding-top: 24px;
    border-top: 1px solid black;
  }
}
