.navbar-fixed-top {
  height: 70px;
  overflow: hidden;
  z-index: 9999;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.navbar-row {
  position: relative;
}


#logo {
  height: 40px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.navbar-inline-list {
  display: inline;
  position: absolute;
  right: 12px;
}

