.small-text-x {
  font-size: 9pt;
  color: gray;
  margin: 0;
  padding-left: 96px;
}

.small-text {
  font-size: 9pt;
  color: gray;
  margin: 0;
  text-align: left;
}

.small-text-edit {
  font-size: 9pt;
  color: gray;
  margin: 0;
  padding-left: 112px;
}
