.user-flex {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(max-width: 992px) {
  .user-flex {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .user-flex {
    grid-template-columns: 1fr;
  }
}
