// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
//@import "font-awesome-sprockets";
//@import "font-awesome";
@import "pretty-checkbox/src/pretty-checkbox.scss";


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 10pt;
  line-height: 1;
}

/// portrait mobile - xs

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  .container {
    padding: 36px;
  }

  #logo {
    height: 30px;
    margin-left: 36px;
    }

   /// navbar
   .navbar-inline-list {
    display: inline;
    position: absolute;
    right: 8px;
}


}

/// landscape mobile - sm

/// tablet - md

/// computer -> default
