<p>Oi, <%= @resource.email %>!</p>

<p>Recebemos um pedido para alteração da sua senha. Você pode alterá-la através do link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem solicitou a alteração, por favor ignore este email.</p>
<p>Sua senha não irá mudar até você acessar o link e criar uma nova.</p>
